@import '@igloo-ui/tokens/dist/variables.css';

:root {
  --icon-color: var(--grey-800, #000);
}

.ids-icon {
  display: inline-block;
  vertical-align: text-bottom;
  user-select: none;
  overflow: hidden;
  color: var(--icon-color);
}

.ids-icon--colorGrey500 {
  --icon-color: var(--grey-500);
}
.ids-icon--colorGrey600 {
  --icon-color: var(--grey-600);
}
.ids-icon--colorInteractive {
  --icon-color: var(--electric-blue-500);
}
